
.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}


.container{
  display: block;
    width: 300px;
    background-color: brown;
    width: 238px !important;
}

.container img {
  width: 180px;
  height: 200px;
}

.movieCard{
  width: 300px;
  
}

.movieCont{
  display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}


#rate{
  font-weight: 800;
  color: white;
  font-size: 20px;
}